.img-responsive{

  max-width: 100%;
  display: block;
  height: auto;
}

.container-div{
            background-color:darkgray;
            width: 400px;
            height: auto;
           
}

h5{
            text-align: center;
}